@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 6px grey;
  z-index: 99;
  padding: 0 5%;
  background-color: white;
}
.header .header__logo {
  color: #08A6E4;
  font-family: Raleway;
  font-weight: 300;
}
.header .header__nav {
  display: flex;
  height: 3.75rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
}
.header .header__nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header .header__nav-list > li {
  margin: 0 1rem;
  text-decoration: none;
}
.header .header__nav-list > li:hover {
  text-decoration: underline solid #08A6E4;
  text-decoration-thickness: 3px;
  text-underline-offset: 1.4rem;
}
.header .header__nav-link {
  position: relative;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 3.28px;
  text-decoration: none;
  color: #A5A5A5;
  transition: color 0.3s ease;
}
.header .header__nav-link:hover {
  color: black;
}
.header .menu__button-container {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header #header__menu-toggle {
  display: none;
}
.header .menu-button,
.header .menu-button::before,
.header .menu-button::after {
  display: block;
  background-color: #08A6E4;
  position: absolute;
  height: 3px;
  width: 30px;
  border-radius: 2px;
}
.header .menu-button::before {
  content: "";
  margin-top: -8px;
}
.header .menu-button::after {
  content: "";
  margin-top: 8px;
}
.header #header__menu-toggle:checked + .menu__button-container .menu-button::before {
  margin-top: 0px;
  transition: transform 0.3s ease;
  transform: rotate(45deg);
}
.header #header__menu-toggle:checked + .menu__button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.header #header__menu-toggle:checked + .menu__button-container .menu-button::after {
  margin-top: 0px;
  transition: transform 0.3s ease;
  transform: rotate(135deg);
}

@media (max-width: 1000px) {
  .header .header__nav {
    padding: 3% 5%;
  }
  .header .menu__button-container {
    display: flex;
  }
  .header .header__nav-list {
    position: absolute;
    box-shadow: 0px 5px 6px -2px grey;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header #header__menu-toggle ~ .header__nav-list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .header #header__menu-toggle:checked ~ .header__nav-list li {
    height: 2.5em;
    padding: 0.5em;
  }
  .header .header__nav-list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: white;
    overflow: hidden;
  }
  .header .header__nav-list > li:hover {
    text-decoration: none;
  }
  .header .header__nav-list > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.main__section-sell-more {
  text-align: center;
}
.main__section-sell-more .main__section-h1 {
  margin: 8rem 1rem 1rem 1rem;
  font-family: Raleway;
  font-weight: 400;
  font-size: 35px;
}
.main__section-sell-more .main__section-p {
  font-family: Open Sans;
  font-size: 16px;
  margin: 0 2rem 2rem 2rem;
}
.main__section-sell-more .main__section-btn {
  font-family: Open Sans;
  font-size: 16px;
  background-color: #08A6E4;
  color: white;
  border: 0px;
  padding: 0.8rem 4rem;
  margin: 0 2rem 0 2rem;
  border-radius: 2rem;
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.main__section-sell-more .main__section-btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #71d4fa;
}
.main__section-sell-more .sell-more__img-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  overflow-x: hidden;
}
.main__section-sell-more .main__section-img {
  height: 17rem;
}

@media only screen and (min-width: 1000px) {
  .main__section-sell-more .main__section-h1 {
    margin: 10rem 1rem 1rem 1rem;
    font-size: 49px;
  }
  .main__section-sell-more .main__section-btn {
    padding: 0.8rem 8rem;
    margin: 0 2rem 0 2rem;
  }
  .main__section-sell-more .main__section-img {
    margin-top: 0;
  }
  .main__section-sell-more .sell-more__img-container {
    display: block;
    margin-top: 0;
  }
  .main__section-sell-more .main__section-img {
    width: 100%;
    height: auto;
  }
}
.main__section-whyus {
  text-align: center;
}
.main__section-whyus .main__content-whyus {
  display: block;
  margin-bottom: 5rem;
}
.main__section-whyus .main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 3rem 0;
}
.main__section-whyus .main__item-shape {
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.main__section-whyus .main__item-img-person {
  position: relative;
  bottom: -7px;
  left: 25px;
}
.main__section-whyus .main__item-img-eye {
  position: relative;
  bottom: -13px;
  left: 25px;
}
.main__section-whyus .main__item-img-folder {
  position: relative;
  bottom: -7px;
  left: 26px;
}
.main__section-whyus .main__item-shape-red {
  background-color: #FB3B64;
}
.main__section-whyus .main__item-shape-blue {
  background-color: #08A6E4;
}
.main__section-whyus .main__item-shape-green {
  background-color: #55DFB4;
}
.main__section-whyus .main__item-strong {
  font-family: Raleway;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5.96px;
  margin-top: 1.5rem;
}
.main__section-whyus .main__item-p {
  color: #A5A5A5;
  font-family: Raleway;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  .main__section-whyus .main__content-whyus {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
  }
}
.main__section-benefits {
  background-color: #F7F7F7;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.main__section-benefits .benefits__item {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  margin: 2rem 0;
  background-color: white;
  border-radius: 0.3rem;
}
.main__section-benefits .item-separated {
  padding: 2rem 0 0 0;
}
.main__section-benefits .content-separated {
  padding: 0 2rem 1rem 2rem;
}
.main__section-benefits .content-separated h3 {
  margin-top: 0;
}
.main__section-benefits .benefits__item-img img {
  position: relative;
  width: 100%;
  max-width: 386px;
  z-index: 1;
}
.main__section-benefits .img-pc {
  position: relative;
}
.main__section-benefits .img-trumpet {
  width: auto;
  background-color: #55DFB4;
  padding: 1rem;
  border-radius: 0 0 0.3rem 0.3rem;
}
.main__section-benefits .benefits__item-h3 {
  color: #333;
  font-size: 20px;
  margin: 0 0 2rem 0;
  font-family: Raleway;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
}
.main__section-benefits .item-phone h3 {
  margin-top: 1rem;
}
.main__section-benefits .benefits__item-p {
  color: #666;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin-bottom: 1rem;
}
.main__section-benefits .benefits__item-content hr {
  margin-top: 2rem;
  max-width: 45%;
  height: 4px;
  border: 0;
}
.main__section-benefits .benefits__item-hr {
  display: none;
}
.main__section-benefits .hr-red {
  background-color: #FB3B64;
}
.main__section-benefits .hr-blue {
  background-color: #08A6E4;
}
.main__section-benefits .hr-green {
  background-color: #55DFB4;
}

@media only screen and (min-width: 1000px) {
  .main__section-benefits {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
  .main__section-benefits .benefits__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 15%;
    height: 18rem;
    padding: 0 2rem 0 2rem;
  }
  .main__section-benefits .item-phone h3 {
    margin-top: 0;
  }
  .main__section-benefits .item-separated {
    background-color: #F7F7F7;
    justify-content: space-around;
    padding: 0 0 0 0;
  }
  .main__section-benefits .benefits__item-content {
    width: 60%;
  }
  .main__section-benefits .content-separated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-right: 3rem;
  }
  .main__section-benefits .img-trumpet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  .main__section-benefits .item-pc {
    flex-direction: row-reverse;
  }
  .main__section-benefits .benefits__item-hr {
    display: block;
  }
}
.main__section-prices {
  text-align: center;
  margin-top: 4rem;
}
.main__section-prices .main__section-prices-content {
  display: block;
  margin: 20px 5px;
}
.main__section-prices .prices__item {
  position: relative;
  margin: 3rem 5%;
  padding: 2rem 0;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.5s, box-shadow 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__section-prices .prices__item:hover {
  transform: scale(1.05);
}
.main__section-prices .prices__item .prices__item-desc {
  display: inline-block;
}
.main__section-prices .prices__item .prices__item-title {
  font-size: 24px;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: 10px;
}
.main__section-prices .prices__item .prices__item-price {
  font-family: Open Sans;
  font-size: 46px;
  font-weight: 300;
}
.main__section-prices .prices__item .item-price-red {
  color: #FB3B64;
}
.main__section-prices .prices__item .item-price-blue {
  color: #08A6E4;
}
.main__section-prices .prices__item .item-price-green {
  color: #55DFB4;
}
.main__section-prices .prices__item .prices__item-offer {
  font-family: Raleway;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5%;
}
.main__section-prices .prices__item .offer-false {
  color: transparent;
}
.main__section-prices .prices__item .offer-true {
  color: #13253B;
}
.main__section-prices .prices__item .prices__item-list {
  display: inline-block;
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 5%;
}
.main__section-prices .prices__item .prices__item-list .list__item {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 1.2rem;
  color: black;
}
.main__section-prices .prices__item .prices__item-list .item-true::before {
  content: url(../assets/img/checked.svg);
  width: 20px;
  margin-right: 2%;
}
.main__section-prices .prices__item .prices__item-list .item-false::before {
  content: url(../assets/img/crosscheck.svg);
  width: 20px;
  margin-right: 2%;
}
.main__section-prices .prices__item .list__item-button {
  font-family: Open Sans;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
  cursor: pointer;
  color: white;
  border: 0px;
  padding: 0.7rem 3rem;
  border-radius: 1rem;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translateX(-50%);
}
.main__section-prices .prices__item .btn-blue {
  background-color: #08A6E4;
}
.main__section-prices .prices__item .btn-blue:hover {
  box-shadow: 5px 5px 15px #71d4fa;
}
.main__section-prices .prices__item .btn-red {
  background-color: #FB3B64;
}
.main__section-prices .prices__item .btn-red:hover {
  box-shadow: 5px 5px 15px #feb8c7;
}
.main__section-prices .prices__item .btn-green {
  background-color: #55DFB4;
}
.main__section-prices .prices__item .btn-green:hover {
  box-shadow: 5px 5px 15px #c0f3e3;
}
.main__section-prices .item-basic {
  border: 1px solid #FB3B64;
}
.main__section-prices .item-basic:hover {
  box-shadow: 5px 5px 15px #feb8c7;
}
.main__section-prices .item-professional {
  border: 1px solid #08A6E4;
}
.main__section-prices .item-professional:hover {
  box-shadow: 5px 5px 15px #71d4fa;
}
.main__section-prices .item-premium {
  border: 1px solid #55DFB4;
}
.main__section-prices .item-premium:hover {
  box-shadow: 5px 5px 15px #c0f3e3;
}

@media only screen and (min-width: 1000px) {
  .main__section-prices .prices__item {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .main__section-prices .prices__item .prices__item-desc {
    display: block;
    margin-right: 0;
  }
  .main__section-prices .prices__item .prices__item-price {
    margin-bottom: 0.5rem;
  }
  .main__section-prices .prices__item .prices__item-offer {
    margin-bottom: 2rem;
  }
  .main__section-prices .prices__item .prices__item-list {
    text-align: center;
  }
  .main__section-prices .prices__item .list__item-button {
    top: 95%;
    transform: translateX(-50%);
  }
  .main__section-prices .main__section-prices-content {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: 1rem 10%;
  }
}
.main__section-contact .section__contact-info-container {
  padding: 0 1.5rem;
}
.main__section-contact .section__contact-info-block {
  margin: 2rem 0;
}
.main__section-contact .contact__info-title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 40px;
}
.main__section-contact .contact__info-subtitle {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  margin: 0.5rem 0 1rem 0;
}
.main__section-contact .contact__info-p {
  display: block;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 16px;
  color: #A5A5A5;
  margin: 1rem 0;
}
.main__section-contact .contact__info-img {
  margin-right: 0.5rem;
}
.main__section-contact .contact__form {
  padding: 0 1.5rem;
}
.main__section-contact .form__label {
  display: block;
  margin: 2rem 0 0 0;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  color: #08A6E4;
}
.main__section-contact .form__input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  appearance: none;
  outline: none;
  border: 0;
  border-bottom: 1px solid #95989A;
}
.main__section-contact .form__input:focus-visible {
  border-bottom: 1px solid #08A6E4;
}
.main__section-contact .input-name {
  margin-top: 3rem;
}
.main__section-contact .form__label-checkbox {
  margin-top: 2rem;
}
.main__section-contact .form__checkbox {
  width: 20px;
  height: 20px;
  vertical-align: top;
  margin-top: 0.5rem;
  display: none;
}
.main__section-contact .custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: #fff;
  margin-top: 0.5rem;
  vertical-align: top;
}
.main__section-contact .custom-checkbox::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  color: transparent;
}
.main__section-contact .form__checkbox:checked + .custom-checkbox {
  background-color: white;
}
.main__section-contact .form__checkbox:checked + .custom-checkbox::after {
  color: #08A6E4;
}
.main__section-contact .form__label__p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  display: inline-block;
  width: 85%;
  color: #707070;
}
.main__section-contact .form__submit-container {
  margin-top: 1.5rem;
  position: relative;
  width: 100%;
  height: 50px;
}
.main__section-contact .form__submit {
  display: inline-block;
  position: absolute;
  right: 1rem;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 13px;
  background-color: #08A6E4;
  color: white;
  border: 0px;
  padding: 0.8rem 4rem;
  border-radius: 2rem;
  transition: transform 0.5s, box-shadow 0.5s;
  cursor: pointer;
}
.main__section-contact .form__submit:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #71d4fa;
}

@media only screen and (min-width: 1000px) {
  .main__section-contact {
    display: flex;
    margin: 5rem 20% 1rem 20%;
  }
  .main__section-contact .contact__info-subtitle {
    margin: 2rem 0 2rem 0;
  }
  .main__section-contact .form__input {
    width: 100%;
  }
  .main__section-contact .section__contact-info-container {
    width: 50%;
  }
  .main__section-contact .contact__form {
    width: 50%;
  }
  .main__section-contact .form__submit {
    margin-top: 0.8rem;
    margin-right: 1.5rem;
  }
}
.footer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 0 5px 15px grey;
}
.footer .footer__copyright-title {
  font-family: Raleway;
  font-weight: 300;
  color: #08A6E4;
  font-size: 26px;
}
.footer .footer__copyright-subtitle {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  color: black;
  font-size: 11px;
}
.footer .footer__social-img {
  width: 24px;
  margin: 0 0.4rem;
  transition: transform 0.5s;
}
.footer .footer__social-img:hover {
  transform: scale(1.2);
}

@media only screen and (min-width: 1000px) {
  .footer {
    padding: 1rem 8rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-gap {
  padding-top: 3rem;
}

.negative-gap {
  margin-bottom: -4rem;
}

.main__section-title {
  font-size: 30px;
  font-family: Raleway;
  font-weight: 400;
  margin: 1rem 2rem 0rem 2rem;
}

#percentageScroller {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #007bff;
  z-index: 9999;
  transition: width 0.3s ease;
}

#returnToTopButton {
  font-family: Raleway;
  font-weight: 700;
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 15px 20px;
  background-color: white(0, 123, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: black;
  border: 1px ridge grey;
  border-radius: 45%;
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.2s ease 0s;
}

@media only screen and (min-width: 1000px) {
  body {
    min-width: 320px;
  }
  #returnToTopButton:hover {
    transform: translateY(-4px);
  }
  #returnToTopButton:active {
    transform: translateY(0px);
  }
  .main__section-title {
    font-size: 36px;
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
