.main__section-benefits {
    background-color: #F7F7F7;
    padding: 1rem 1.5rem 1rem 1.5rem;

    .benefits__item {
        text-align: center;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 2rem 2rem;
        margin: 2rem 0;
        background-color: white;
        border-radius: 0.3rem;
    }

    .item-separated {
        padding: 2rem 0 0 0 ;
    }

    .content-separated {
        padding: 0 2rem 1rem 2rem;
    }

    .content-separated h3 {
        margin-top: 0;
    }

    .benefits__item-img img {
        position: relative;
        width: 100%;
        max-width: 386px;
        z-index: 1;
    }

    .img-pc {
        position: relative;
    }

    // .img-phone {
        
    // }

    .img-trumpet {
        width: auto;
        background-color: $green;
        padding: 1rem;
        border-radius: 0 0 0.3rem 0.3rem;
    }

    // .benefits__item-content {

    // }

    .benefits__item-h3 {
        color: #333;
        font-size: 20px;
        margin: 0 0 2rem 0;
        font-family: Raleway;
        font-weight: 400;
        font-size: 30px;
        text-align: left;
    }

    .benefits__item-p {
        color: #666;
        font-size: 16px;
        font-family: Open Sans;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        margin-bottom: 1rem;
    }

    .benefits__item-content hr {
        max-width: 327.64px;
        height: 4px;
        border: 0;
    }

    .benefits__item-hr {
        display: none;
    }

    .hr-red {
        background-color: $red;
    }

    .hr-blue {
        background-color: $blue;
    }

    .hr-green {
        background-color: $green;
    }

    .benefits-separator {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .main__section-benefits {
        padding: 1rem 1.5rem 3rem 1.5rem;

        .benefits__item {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin: 2rem 15%;
        }

        .item-separated {
            background-color: white;
            justify-content: space-between;
            padding: 0 0 0 0;
        }

        .benefits__item-content {
            width: 60%;
        }

        .content-separated {
            width: 60%;
        }

        .benefits__item-img img {
            padding-top: 1.5rem;
        }

        .img-trumpet {
            width: 386px;
            height: 100%;
        }

        .item-pc {
            flex-direction: row-reverse;
        }

        .benefits__item-hr {
            display: block;
        }
    }
}