.main__section-prices {
    text-align: center;
    margin-top: 4rem;

    .main__section-prices-content {
        display: block;
        margin: 20px 5px;
    }

    #currency-selector {
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin: 2rem 0;
    }

    .prices__item {
        position: relative;
        margin: 3rem 5%;
        padding: 2rem 0;
        border-radius: 8px;
        text-align: center;
        transition: transform 0.5s, box-shadow 0.5s;

        display: flex;
        justify-content: space-around;
        align-items: center;

        &:hover {
            transform: scale(1.05);
        }

        .prices__item-desc {
            display: inline-block;
        }

        .prices__item-title {
            font-size: 24px;
            font-family: Raleway;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .prices__item-price {
            font-family: Open Sans;
            font-size: 46px;
            font-weight: 300;
            // margin-bottom: 20px;
        }

        .item-price-red {
            color: $red;
        }

        .item-price-blue {
            color: $blue;
        }

        .item-price-green {
            color: $green;
        }

        .prices__item-offer {
            font-family: Raleway;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 5%;
        }

        .offer-false {
            color: transparent;
        }

        .offer-true {
            color: #13253B;
        }

        .prices__item-list {
            display: inline-block;
            list-style: none;
            padding: 0;
            text-align: left;
            margin-bottom: 5%;

            .list__item {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 1.2rem;
                color: black;
            }

            .item-true {

                &::before {
                    content: url(../assets/img/checked.svg);
                    width: 20px;
                    margin-right: 2%;
                }
            }

            .item-false {

                &::before {
                    content: url(../assets/img/crosscheck.svg);
                    width: 20px;
                    margin-right: 2%;
                }
            }
        }

        .list__item-button {
            font-family: Open Sans;
            font-weight: 700;
            font-size: 13px;
            line-height: 17.7px;
            cursor: pointer;
            color: white;
            border: 0px;
            padding: 0.7rem 3rem;
            border-radius: 1rem;

            position: absolute;
            top: 93%;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn-blue {
            background-color: $blue;

            &:hover {
                box-shadow: 5px 5px 15px lighten($color: $blue, $amount: 25);
            }
        }

        .btn-red {
            background-color: $red;

            &:hover {
                box-shadow: 5px 5px 15px lighten($color: $red, $amount: 25);
            }
        }

        .btn-green {
            background-color: $green;

            &:hover {
                box-shadow: 5px 5px 15px lighten($color: $green, $amount: 25);
            }
        }

    }

    .item-basic {
        border: 1px solid $red;

        &:hover {
            box-shadow: 5px 5px 15px lighten($color: $red, $amount: 25);
        }
    }

    .item-professional {
        border: 1px solid $blue;

        &:hover {
            box-shadow: 5px 5px 15px lighten($color: $blue, $amount: 25);
        }
    }

    .item-premium {
        border: 1px solid $green;

        &:hover {
            box-shadow: 5px 5px 15px lighten($color: $green, $amount: 25);
        }
    }
}

@media only screen and (min-width: 1000px) {
    .main__section-prices {

        #currency-selector {
            margin: 0 0 2rem 0;
        }

        .prices__item {
            flex-direction: column;
            width: 100%;
            margin: 0;

            .prices__item-desc {
                display: block;
                margin-right: 0;
            }
            
            .prices__item-price {
                margin-bottom: 0.5rem;
            }

            .prices__item-offer {
                margin-bottom: 2rem;
            }

            .prices__item-list {
                text-align: center;
            }

            .list__item-button {
                top: 95%;
                transform: translateX(-50%);
            }
        }

        .main__section-prices-content {
            display: flex;
            justify-content: space-between;
            gap: 5%;
            margin: 1rem 10%;
        }
    }
}