.main__section-sell-more {
    text-align: center;

    .main__section-h1 {
        margin: 4rem 1rem 1rem 1rem;
        font-family: Raleway;
        font-weight: 400;
        font-size: 35px;
    }

    .main__section-p {
        font-family: Open Sans;
        font-size: 16px;
        margin: 0 2rem 2rem 2rem;
    }

    .main__section-btn {
        font-family: Open Sans;
        font-size: 16px;
        background-color: $blue;
        color: white;
        border: 0px;
        padding: 0.8rem 4rem;
        margin: 0 2rem 0 2rem;
        border-radius: 2rem;
        transition: transform 0.5s, box-shadow 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            box-shadow: 5px 5px 10px lighten($color: $blue, $amount: 25);
        }
    }

    .sell-more__img-container {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
        overflow-x: hidden;
    }

    .main__section-img {
        height: 17rem;
    }
}

@media only screen and (min-width: 1000px) {
    .main__section-sell-more {
        

        .main__section-h1 {
            margin: 7rem 1rem 1rem 1rem;
            font-size: 49px;
        }
    
        .main__section-btn {
            padding: 0.8rem 8rem;
            margin: 0 2rem 0 2rem;
        }
    
        .main__section-img {
            margin-top: 0;
        }
    
        .sell-more__img-container {
            display: block;
            margin-top: 0;
        }
    
        .main__section-img {
            width: 100%;
            height: auto;
        }
    }

    
}