@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$blue: #08A6E4;
$red: #FB3B64;
$green: #55DFB4;
$submitOK: #25ad1e;

@import 'navbar';
@import 'sellmore';
@import 'whyus';
@import 'benefits';
@import 'prices';
@import 'contact';
@import 'footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// .main {

// }

.section-gap {
  padding-top: 3rem;
}

.negative-gap {
  margin-bottom: -4rem;
}

.main__section-title {
  font-size: 30px;
  font-family: Raleway;
  font-weight: 400;
  margin: 1rem 2rem 0rem 2rem;
}

#percentageScroller {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #007bff;
  z-index: 9999;
  transition: width 0.3s ease;
}

#returnToTopButton {
  font-family: Raleway;
  font-weight: 700;
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 15px 20px;
  background-color: white(0, 123, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: black;
  border: 1px ridge grey;
  border-radius: 45%;
  cursor: pointer;
  z-index: 9999;
  transition: transform 0.2s ease 0s;
}

@media only screen and (min-width: 1000px) {
  body {
    min-width: 320px;
  }

  #returnToTopButton:hover {
    transform: translateY(-4px);
  }
  
  #returnToTopButton:active {
    transform: translateY(0px);
  }

  .main__section-title {
    font-size: 36px;
    margin-bottom: 3rem;
  }
}