.main__section-whyus {
    text-align: center;

    .main__content-whyus {
        margin-bottom: 5rem;
        text-align: center;
    }

    .main__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 3rem 0;
    }

    .main__item-shape {
        width: 63px;
        height: 63px;
        border-radius: 50%;
      }

    .main__item-img-person {
        position: relative;
        bottom: -7px;
        left: 25px;
    }
    
    .main__item-img-eye {
        position: relative;
        bottom: -13px;
        left: 25px;
    }
    
    .main__item-img-folder {
        position: relative;
        bottom: -7px;
        left: 26px;
    }
      
      .main__item-shape-red {
        background-color: $red;
      }
      
      .main__item-shape-blue {
        background-color: $blue;
      }
      
      .main__item-shape-green {
        background-color: $green;
      }

      .main__item-strong {
        font-family: Raleway;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 5.96px;
        margin-top: 1.5rem;
      }

      .main__item-p {
        color: #A5A5A5;
        font-family: Raleway;
        font-size: 17px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 1.5rem;
      }

}

@media only screen and (min-width: 1000px) {
    .main__section-whyus {
        text-align: center;
    
        .main__content-whyus {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 3rem;
        }

        .main__item-shape {
            width: 63px;
            height: 63px;
            border-radius: 50%;
        }
    }
}